:root {
  --background-color: #f4f4f7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.background {
  background-color: var(--background-color);
  height: 100%;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
}

.h2 {
  font-size: 20px;
  font-weight: 400;
}
