header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  margin-bottom: 2px;
}
header .logo img {
  width: 40px;
  height: 40px;
}
header .logo-box {
  width: 200px;
  display: flex;
  align-items: center;
}

header .title {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
}
header .bread-crumb {
  flex: 1;
}
header .user-box {
  width: 200px;
}
.account .user {
  display: flex;
  align-items: center;
}
.account .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.account-box {
  display: flex;
  align-items: center;
}
.message {
  font-size: 20px;
  margin-right: 20px;
}
main {
  display: flex;
}
nav {
  width: 250px;
  /* TODO控制导航栏长度 */
  height: 100vh;
  background-color: white;
}
.main-content {
  width: 100%;
  padding: 10px;
}
/** element元素样式 */
.el-breadcrumb__item {
  font-size: 16px;
}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
.el-sub-menu__title:hover {
  background-color: #d4ecff;
}
